body {
	color: #fff;
	margin:0;
	padding:0;
	background-color: #133659;
	background-image: url(../images/base-bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

div {
	padding: 5px;
}

p,td { font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top: 0px;
}

a{
	color: #F6B75D;
	text-decoration: underline;
}

a:hover{
	color: #E58704;
	text-decoration: underline;
}

a.hidden {
	text-decoration: none;
	color: #000000;
	cursor:default;
}

form {
     margin:0;
     padding:0;
}

ul {
	margin-left:20px;
	margin-top:0px;
	padding:1px;
	list-style-type: square;
	line-height: 16px;
	}
.b-table {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #0D2845;
	border-right-color: #0D2845;
	border-bottom-color: #0D2845;
	border-left-color: #0D2845;
}


h1 {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.t-menu {
	color: #FFFFFF;
	font-size: 11px;
	text-align: left;
}

.t-menu a{
	color: #FFFFFF;
	text-decoration: none;
}
.t-menu a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.bgy {
	background-repeat: repeat-y;
}

.bottom_addr {
	font-size: 11px;
	color: #f9970b;
	padding-top: 11px;
	padding-right: 15px;
	padding-bottom: 12px;
	padding-left: 15px;
	text-align: right;
}

.bottom_addr a {
	text-decoration: none;
}

.bottom_addr a:hover {
	text-decoration: underline;
}


.bgx {
	background-repeat: repeat-x;
}


.norepeat {
	background-repeat: no-repeat;
}

.c_name {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-repeat: repeat;
	background-image: url(../images/cn_bg.jpg);
	text-align: center;
	padding-top: 6px;
	padding-bottom: 0px;
	margin: 0px;
	font-family: Tahoma, Arial;
}


.bottom-menu {
	color: #a6d5f3;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 11px;
}

.bottom-menu a {
	color: #a6d5f3;
	text-decoration: none;
}

.bottom-menu a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.menu {
	color: #FFFFFF;
	background-image: url(../images/btn_bg.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	white-space: nowrap;
	font-family: Tahoma, Arial;
}
.menu a{
	text-decoration: none;
	color: #FFFFFF;
}

.menu a:hover {
	color: #F6B75D;
	text-decoration: underline;
}


.body_txt {
	color: #FFFFFF;
	text-align: justify;
	vertical-align: top;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}
.c_name2 {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-repeat: repeat;
	background-image: url(../images/cn_bg.jpg);
	text-align: center;
	font-family: Tahoma, Arial;
}
