#Header unset Pragma
#FileETag None
#Header unset ETag

# BEGIN Cache-Control Headers
#<IfModule mod_headers.c>
#  <FilesMatch "\.(ico|jpg|png|gif|swf)$">
#    Header set Cache-Control "max-age=2592000, public"
#  </FilesMatch>
#</IfModule>
#<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
#  Header set Cache-Control "max-age=2592000"
#</FilesMatch>
<IfModule mod_rewrite.c>
	AddType application/x-httpd-php .phar
	php_value file_uploads 1
	php_value upload_max_filesize 200M

	RewriteEngine Off
	RewriteCond %{REQUEST_FILENAME} !/crossdomain.xml
#	RewriteCond %{REQUEST_FILENAME} !/img/*\.(gif|png|jpeg|jpg)
	RewriteCond %{REQUEST_FILENAME} !/img/.*
	RewriteCond %{REQUEST_FILENAME} !/include/.* 
	RewriteCond %{REQUEST_FILENAME} !/index.php.* 

	RewriteEngine On

#	RewriteCond %{HTTP_HOST} ^www.{HTTP_HOST}(.*)
#	RewriteRule ^(.*)$ http://{HTTP_HOST}/$1 [R=301,L]

	RewriteCond %{DOCUMENT_ROOT}/mpak.phar !-f
	RewriteRule ^(.*)$ /index.php [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ /mpak.phar [L]

</IfModule>
