/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #737373;
}

form {
	margin: 0;
	padding: 0;
}

input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
}

h1, h2, h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-bottom: 1.8em;
	line-height: 160%;
}

ul, ol {
}

blockquote {
}

a {
	color: #AE2ECC;
}

a:hover {
	text-decoration: none;
}

hr {
	display: none;
}

/* Menu */

#menu {
	width: 960px;
	height: 58px;
	margin: 0 auto;
	padding: 1px 0;
	background: url(images/img02.jpg) no-repeat center top;
}

#menu ul {
	height: 58px;
	margin: 0;
	padding: 0;
	background: url(images/img03.gif) no-repeat;
	list-style: none;
}

#menu li {
	float: left;
	height: 58px;
	background: url(images/img03.gif) no-repeat right top;
}

#menu a {
	float: left;
	height: 58px;
	padding: 17px 25px 0 25px;
	text-decoration: none;
	font-size: 1.4em;
	font-weight: bold;
	color: #000000;
}

#menu a:hover {
	background: url(images/img04.gif) repeat-x;
	color: #FFFFFF;
}

#menu .current_page_item a {
	background: url(images/img05.gif) repeat-x;
	color: #FFFFFF;
}

/* Logo */

#logo {
	width: 962px;
	height: 91px;
	margin: 0 auto;
	background: url(images/img06.gif) no-repeat;
	color: #69A7E1;
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 0 20px;
}

#logo h1 {
	float: left;
	padding-top: 30px;
	letter-spacing: -3px;
	font-size: 3em;
}

#logo h2 {
	float: right;
	padding-top: 49px;
	letter-spacing: -1px;
	font-weight: normal;
}

#logo a {
	text-decoration: none;
	color: #69A7E1;
}

/* Page */

#page {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

/* Content */

#content {
	float: right;
	width: 680px;
}

.post {
	padding-bottom: 20px;
}

.post .title {
	margin: 0;
	padding: 5px 20px;
	letter-spacing: -2px;
	border-bottom: 1px solid #F5F5F5;
}

.post .title a {
	text-decoration: none;
}

.post .entry {
	padding: 10px 20px;
}

.post .meta {
	height: 26px;
	background: #F5F5F5;
	border-top: 1px solid #E9E9E9;
	font-size: smaller;
	font-weight: bold;
}

.post .posted {
	float: left;
	height: 16px;
	padding: 5px 20px;
	background: url(images/img09.gif) no-repeat left bottom;
}

.post .permalink, .post .comments {
	float: right;
	height: 16px;
	padding: 5px 20px;
}

.post .permalink {
	background: url(images/img10.gif) no-repeat right bottom;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 250px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 20px;
}

#sidebar li ul {
	padding: 20px;
	background: #F5F5F5 url(images/img08.gif) no-repeat left bottom;
}

#sidebar li li {
	margin: 0;
}

#sidebar p {
	padding: 0 20px;
}

#sidebar h2 {
	height: 29px;
	margin: 0;
	padding: 6px 0 0 20px;
	background: url(images/img07.jpg) no-repeat;
	font-size: 1.4em;
	font-weight: normal;
	color: #000000;
}

/* Search */

#search form {
	padding: 20px;
}

#search br {
	display: none;
}

#search #s {
	width: 135px;
}

/* Footer */

#footer {
	clear: both;
	width: 960px;
	margin: 0 auto;
	padding: 10px 0;
	border-top: 1px solid #E9E9E9;
	font-size: smaller;
}

#footer p {
	margin: 0;
	text-align: center;
	line-height: normal;
}
