.EditTbl
{
	width:100%;
}
	.EditTbl th
	{
		background: url('img/gif.gif') repeat-x 0 -464px #009bff;
		font-weight:normal;
		text-align:left;
	}
		.EditTbl th a,
		.EditTbl th
		{
			color:#fff;
			font-size:14px;
		}
	.EditTbl td,
	.EditTbl th
	{
		padding:10px;
		border-bottom:1px solid #fff;
		vertical-align:top;
		position:relative;
	}
	.EditTbl .gr
	{
		background:#eae9e9;
	}
	.EditTbl .down,
	.EditTbl .up
	{
		display:block;
		width:10px;
		height:14px;
		float:left;
	}
	.EditTbl span
	{
		display:block;
		float:left;
		padding:0 3px;
	}
		.EditTbl .down img,
		.EditTbl .up img
		{
			display:block;
			width:10px;
			height:14px;
			background: url('img/gif.gif') no-repeat 0 -90px;
		}
		.EditTbl .up img
		{
			background: url('img/gif.gif') no-repeat -18px -90px;
		}
	.EditTbl .tools a
	{
		display:block;
		width:16px;
		height:14px;
		margin:0 5px;
		float:left;
	}
		.EditTbl .tools a.ed
		{
			background: url('img/gif.gif') no-repeat 0 0;
		}
		.EditTbl .tools a.copy
		{
			background: url('img/gif.gif') no-repeat 0 -29px;
		}
		.EditTbl .tools a.del
		{
			background: url('img/gif.gif') no-repeat 0 -56px;
		}
.EditTbl input,
.EditTbl select,
.EditTbl textarea
{
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-bottom:1px solid #f8f8f8;
	border-right:1px solid #f8f8f8;
	line-height:15px;
	width:100%;
	padding:1px;
}
.EditTbl textarea
{
	height:111px;
}
.EditTbl select
{
	height:20px;
}

div.table {display:table; width:100%;}
div.table > div {display:table-row;}
div.table > div > span {display:table-cell; vertical-align:top; min-width: 50px; max-width: 200px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
div.table > div:not(.th) > span {line-height: 18px;}
div.table > div.th >span {background-color:#aaa; color:#008ee9; font-weight:bold; border:1px solid #ddd;}

#header div.table > div > span {max-width:none;}
.admin span {overflow:visible;}

img.minPreview{border:1px solid #aaa; padding:2px;height:16px;}
div.bigPreview{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	-webkit-box-shadow: -10px 9px 33px -8px rgba(0,0,0,0.37);
-moz-box-shadow: -10px 9px 33px -8px rgba(0,0,0,0.37);
box-shadow: -10px 9px 33px -8px rgba(0,0,0,0.37);
}
div.bigPreview:before{
	content: "";
    display: block;
    position: absolute;
    width: 109px;
    height: 109px;
    border: 1px solid #666;
    border-radius: 3px;
    margin: -5px;
}
div.bigPreview:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent #666666;
    right: -15px;
    top: -2px;
}
a.del{vertical-align: top;display: inline-block;padding: 4px;margin-bottom: -4px;}
a.del img{background-color: #eee;border: 1px solid #888;border-radius: 3px; padding: 0 1px;}
a.del.disabled{opacity: 0.5; pointer-events: none;}
