/*Ку-ка-ре-ку*/
.nl,.nl li
{
	margin:0;
	padding:0;
	list-style:none;
}
img,a
{
	border:0;
}
*
{
	margin:0;
	padding:0;
}
body, div, p, span, font, input, textarea, h1, h2, h3
{
	font-family:Arial;
	color:#000;
	font-size:12px;
}
a
{
	color:#008ee9;
	text-decoration:underline;
	cursor:pointer;
}
a:hover
{
	text-decoration:none;
	color:#005083;
}
a:active
{
	color:#008ee9;
}
p {
	line-height:16px;
	margin:5px 5px;
}
.adpager{
	margin:10px;
}
.fl
{
	float:left;
}
.fr
{
	float:right;
}
.cb
{
	clear:both;
	font-size:0;
}
.cr
{
	clear:right;
}
.cl
{
	clear:left;
}
:focus 
{
	outline:0;
}
html
{
	/*background:url("i/border.gif") repeat-y 100% 0;*/
}
html, body
{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
#main
{
	padding:0 0 58px 0;
/*	overflow:hidden;*/
	min-width:999px;
}
body
{
	min-height:100%;
	height:auto!important;
	height:100%;
	position:relative;
	background:url("i/border.gif") repeat-y 222px 0;
}
/* *** Блок авторизации *** */

.fmparam div { margin:3px;}
.fmparam input[type="submit"] { border:1px solid #888; border-radius:3px; color:black;}

#authorization
{
	background:url("i/auth_bg.png");
	width:638px;
	height:538px;
	position:absolute;
	top:50%;
	left:50%;
	margin:-269px 0 0 -319px;
}
	#authorization input[type="text"],
	#authorization input[type="password"]
	{
		border:1px solid #dbdbdd;
		border-top:1px solid #bbbabb;
		width:476px;
		height:45px;
		font-size:24px;
		text-align:center;
		margin:0 0 37px 0;
		line-height:42px;
	}
	#authorization form
	{
		width:476px;
		margin:245px auto 0;
	}
	#authorization .button
	{
		float:left;
		left:165px;
		padding:0 0 0 45px;
		position:relative;
		background-position:0 0;
		height:37px;
	}
		#authorization .button input
		{
			border:0;
			padding:0 45px 0 0;
			font-size:24px;
			height:37px;
			background-position:100% 0;
		}
	#authorization .button:hover
	{
		background-position:0 -37px;
	}
		#authorization .button:hover input
		{
			background-position:100% -37px;
		}
	#authorization .button:active
	{
		background-position:0 -74px;
	}
		#authorization .button:active input
		{
			background-position:100% -74px;
		}
/* *** /Блок авторизации *** */
/* *** Кнопки *** */
input[type="submit"]
{
/*	border:0;
	color:#fff;*/
}
.button,
.button input,
.button a
{
	background:url("i/buttons.gif");
}
.button
{
/*	padding:0 0 0 15px;*/
	border: 1px solid gray;
	background-color: #fe8e23;
	background-position:0 -111px;
	float:left;
	margin:0 10px 0 0;
	height:25px;
	text-align:center;
}
	.button input,
	.button a
	{
		display:block;
		padding:0 15px;
		background-position:100% -111px;
		height:25px;
		line-height:25px;
		color:#fff;
		text-decoration:none;
		font-size:14px;
	}
	.button input{
		text-align:center;
		padding:0 15px 2px 15px;
	}
	.button:hover
	{
		background-position:0 -136px;
	}
		.button:hover input,
		.button:hover a
		{
			background-position:100% -136px;
		}
	.button:active
	{
		background-position:0 -161px;
	}
		.button:active input,
		.button:active a
		{
			background-position:100% -161px;
			height:24px;
			padding-top:1px;
		}
/* *** /Кнопки *** */
/* *** Основной лэйаут *** */

			#header
			{
				height:57px;
				background:url("i/gradients.gif") repeat-x 0 0;
				border-bottom:4px solid #fe8e23;
				position:relative;
			}
			#wrapper
			{
				float:left;
				width:100%;
			}
			#content
			{
				margin:0 0 0 222px;
				padding:0 1px;
			}
				#content .cont
				{
					padding:15px 0 0 0;
				}
				#content .tabs
				{
					/*background:url("i/gradients.gif") repeat-x 0 -57px;
					height:37px;
					border-top:1px solid #dbdbdd;
					border-bottom:1px solid #dbdbdd;
					padding:0 100px 0 17px;*/
					background: url("i/gradients.gif") repeat-x;
					height: 100%;
					border-top: 1px solid #dbdbdd;
					border-bottom: 1px solid #dbdbdd;
					padding: 0 100px 0 17px;
			}

		#content .tabs li
		{
			/*float:left;
			position:relative;
			top:10px;*/
			/* float: left; */
			position: relative;
			margin: 0;
			display: inline-block;
		}
			#content .tabs li a
			{
				display:block;
				padding:5px 10px;
				border:1px solid transparent;
				border-bottom:0;
				font-size:15px;
				color:#000;
				text-decoration:none;
			}
			#content .tabs li.act a,
			#content .tabs li a:hover
			{
				background:#fff;
				border:1px solid #dbdbdd;
				border-bottom:0;
			}
#right
{
	float:left;
	width:222px;
	margin:0 0 0 -222px;
}
#left
{
	float:left;
	width:222px;
	margin:0 0 0 -100%;
}
#footer
{
	clear:both;
	border-top:1px solid #dbdbdd;
}
/* *** /Основной лэйаут *** */
/* *** Хедер *** */
#header .logo
{
	display:block;
	width:47px;
	height:47px;
	background:url("i/logo.png");
	left:15px;
	position:relative;
	top:6px;
}
#header .SiteName
{
	font-size:18px;
	left:83px;
	position:absolute;
	top:17px;
}
#header .exit
{
	color:#fe8e23;
	font-size:18px;
	position:absolute;
	top:17px;
	right:15px;
}
	#header .exit a
	{
		padding:0 35px 0 0;
		background:url("i/icons.gif") no-repeat 100% 0;
	}
#header ul
{
	left:50%;
	position:absolute;
	top:26px;
	margin:0 0 0 -177.5px;
	top:27px\9
}
	#header ul li
	{
		float:left;
		padding:4px 10px;
		position:relative;
		border-left:1px solid transparent;
	}
		#header ul li a,
		#header ul li span
		{
			color:#6b6b6b;
			font-size:18px;
			text-decoration:none;
		}
		#header ul li span
		{
			display:none;
		}
		#header ul li a:hover
		{
			text-decoration:underline;
		}
		#header ul li.act,
		#header ul li:hover,
		#header ul li.act:hover
		{
			background:#fe8e23;
			border-top:1px solid #aa5300;
			border-left:1px solid #aa5300;
		}
			#header ul li:hover
			{
				border-left:1px solid #fe8e23;
			}
			#header ul li.act a,
			#header ul li:hover a
			{
				color:#fff;
				position:relative;
				z-index:2;
				text-decoration:none;
			}
			#header ul li.act span,
			#header ul li:hover span
			{
				display:block;
				color:#d47012;
				position:absolute;
				top:5px;
				left:11px;
				z-index:1;
			}
/* *** /Хедер *** */
h2
{
	background:url("i/gradients.gif") repeat-x 0 -57px;
	height:37px;
	line-height:37px;
	color:#fe8e23;
	font-size:15px;
	border-top:1px solid #dbdbdd;
	border-bottom:1px solid #dbdbdd;
	padding:0 0 0 14px;
}
#left .ModulesList li > a
{
	color:#6b6b6b;
	text-decoration:none;
	padding:5px 0 5px 14px;
	display:block;
}
#left .ModulesList li > div {
	margin:10px 0 10px 10px;
}
	#left .ModulesList li.act a,
	#left .ModulesList li.act a:hover
	{
		color:#fff;
		background:#008ee9;
/*		cursor:text;*/
	}
	.ModulesList li a:hover
	{
		color:#000;
		background:#fff8e3;
	}
	.ModulesList li a:active
	{
		color:#fff;
		background:#008ee9;
	}
.MyTickets
{
	margin:0 0 25px 0;
}
	.MyTickets li
	{
		padding:0 0 0 14px;
		margin:10px 0 0 0;
	}
	.MyTickets .all
	{
		background:url("i/gradients.gif") repeat-x 0 -67px;
		border-bottom:1px solid #DBDBDD;
	}
		.MyTickets .all a
		{
			line-height:25px;
			position:relative;
			top:-1px;
		}
/* *** футер *** */
#footer
{
	margin:-58px 0 0 0;
	height:58px;
	border-top:1px solid #dbdbdd;
	background:url("i/gradients.gif") repeat-x 0 -94px;
	position: absolute;
	bottom: 0;
	width:100%;
}
	#footer a,
	#footer div
	{
		font-size:11px;
	}
		#footer .left
		{
			float:left;
			left:14px;
			position:relative;
			top:17px;
		}
			#footer .left a
			{
				color:#000;
				text-decoration:none;
			}
				#footer .left b
				{
					font-weight:normal;
					color:#fe8e23;
				}
			#footer .left span
			{
				display:block;
				font-size:10px;
				color:#aaa;
			}
	#footer .right
	{
		color:#008ee9;
		float:right;
		width:98px;
		right:7px;
		position:relative;
		top:22px;
	}
/* *** /футер *** */
/* *** Список модулей *** */
.MdlsList
{
	margin:17px auto 0;
	width:98%;
}
	.MdlsList li
	{
		float:left;
		background:#fff8e3;
		border:1px solid #f5e1aa;
		padding:10px;
		height:125px;
		min-width:200px;
		width:30%;
		padding:20px 0 0 150px;
		position:relative;
		margin:0 0 15px 0;
	}
		.MdlsList li img
		{
			max-height:140px;
			max-width:125px;
			position:absolute;
			top:10px;
			left:10px;
		}
			.MdlsList li h1 a
			{
				color:#fe8e23;
			}
		.MdlsList li p
		{
			margin:15px 0;
		}
/* *** /Список модулей *** */
/* *** Основная таблица *** */
.MainTable
{
	width:100%;
	border-collapse:collapse;
}
	.MainTable th
	{
		text-align:left;
		background:url("i/gradients.gif") repeat-x 0 -57px;
		border-top:1px solid #dbdbdd;
		border-bottom:1px solid #dbdbdd;
	}
		.MainTable th,
		.MainTable th a
		{
			line-height:37px;
			font-size:15px;
			color:#000;
			font-weight:normal;
		}
	.MainTable th{
		padding:0 12px;
		position:relative;
	}
	.MainTable th > span.info {display:inline-block; width:15px; height:15px; float:right; background-image:url(i/info.png); position:absolute; right:5px; top:5px;}
	.MainTable th > span.info > div {display:none; background-color:#fff8e3; /*background-image:url(i/gradients.gif);*/ min-width:80px; position:absolute; right:5px; top:5px; border-radius:5px; line-height:14px; border:1px solid gray;}
	.MainTable th > span.info:hover > div {display:block; padding:5px;}
	.MainTable td
	{
		padding:7px 12px;
	}
	.MainTable .even
	{
		background:#fff8e3;
	}
	.MainTable tr:hover{
		background:#E5E5E5;
	}
	.MainTable tr:last-child{
		background:#fff;
	}
	.MainTable .tools a 
	{
		display:block;
		float:left;
		height:14px;
		margin:0 5px;
		width:16px;
		background:url("i/mgif.gif");
	}
	.MainTable nobr
	{
		display:block;
		width:100%;
	}
		.MainTable nobr td {padding:0}
		.MainTable nobr span,
		.MainTable nobr a
		{
			display:block;
			float:left;
		}
		.MainTable nobr span
		{
			padding:0 5px;
		}
		.MainTable nobr a
		{
			height:14px;
			width:10px;
			background:url("i/mgif.gif");
		}
			.MainTable nobr a.up,
			.MainTable nobr a.up:hover
			{
				background-position:-18px -90px;
			}
			.MainTable nobr a.down,
			.MainTable nobr a.down:hover
			{
				background-position:0 -90px;
			}
	.MainTable .tools a:hover,
	.MainTable nobr a:hover
	{
		background:url("i/gif_act.gif");
	}
		.MainTable .tools a.ed
		{
			background-position:0 0;
		}
		.MainTable .tools a.copy
		{
			background-position:0 -29px;
		}
		.MainTable .tools a.del
		{
			background-position:0 -56px;
		}

/* *** /Основная таблица *** */
h1
{
	font-size:18px;
	font-weight:normal;
	margin:0;
	color:#fe8e23;
}
input[type="text"],
textarea,
select
{
	border:1px solid #dbdbdd;
	border-top:1px solid #bbbabb;
	height:19px;
	font-size:12px;
	line-height:19px;
}

-webkit-input-placeholder { color:gray; } :-moz-placeholder { color:gray; } :-ms-input-placeholder { color:gray; }
/* *** Постановщик задач *** */
.TicketBlock
{
	width:80%;
}
	.TicketBlock .sence
	{
		background:#fff8e3;
		border:1px solid #f5e1aa;
		margin:14px 0 0 0;
		padding:14px;
	}
	.TicketBlock .CommentsList
	{
		margin:30px 0 0 0;
	}
		.TicketBlock .CommentsList li
		{
			margin:0 0 20px 0;
		}
			.TicketBlock .CommentsList li .av
			{
				float:left;
				border:1px solid #f5e1aa;
				margin:0 7px 0 0;
			}
			.TicketBlock .CommentsList li div
			{
				font-size:15px;
				font-weight:bold;
				color:#fe8e23;
				line-height:22px;
				margin:0 0 4px 0;
			}
			.TicketBlock .CommentsList li span
			{
				font-size:11px;
				color:#bbbabb;
			}
			.TicketBlock .CommentsList li p
			{
				clear:both;
				padding:13px 0;
			}
			.TicketBlock textarea
			{
				width:98%;
				height:86px;
				padding:4px 5px;
				line-height:16px;
				margin:0 0 18px 0;
			}
			.TicketBlock .addLink
			{
				display:block;
				background:url("i/icons.gif") no-repeat 0 -41px;
				padding:3px 0 3px 21px;
				float:right;
			}
/* *** /Постановщик задач *** */
/* *** Список файлов *** */
.MyTickets a
{
	display:block;
}
	.MyTickets a.doc,
	.MyTickets a.xls,
	.MyTickets a.txt
	{
		background:url("i/icons.gif") no-repeat 0 -78px;
		padding:0 0 0 24px;
		line-height:24px;
	}
	.MyTickets a.xls
	{
		background-position:0 -124px;
	}
	.MyTickets a.txt
	{
		background-position:0 -173px;
	}
/* *** /Список файлов *** */
.scroll
{
	width:240px;
	overflow:scroll;
}
