html {background:#53533a;}
body {margin:0; font-size:14px; line-height:20px; font-family:Arial, Helvetica, sans-serif; background:url(../img/body_bckg.jpg) repeat-y center;}
.brown {color:#936307;}
a {color:#936307; text-decoration:none;}
a:hover {color:#666666;}
blockquote {color:#666666; border-left:2px solid #936307; padding-left:20px; margin:10px 0 10px 40px;}

#all {background:url(../img/container_bckg.jpg) no-repeat top center;}
#container {width:1000px; margin:0 auto; background:url(../img/container_bckg.jpg) no-repeat top center;}

#logo {height:50px; margin:0 60px; padding:80px 0 0 85px; background:url(../img/logo.gif) no-repeat 32px 70px;}
#logo a {text-decoration:none; font-size:20px; color:#000000; font-family:"Times New Roman", Times, serif; text-transform:capitalize;}
#menu {height:40px; margin:0 60px;}
#menu ul {margin:0; padding:0;}
#menu ul li {display:inline-block; float:left; list-style:none; text-align:center; color:#936307;}
#menu a {padding:0 20px; font-family:"Times New Roman", Times, serif; font-size:20px; text-transform:lowercase; text-decoration:none; color:#936307;}
#menu a:hover {color:#666666;}

#main {background:url(../img/main_bottom.jpg) bottom center no-repeat; float:left; margin:0 60px;}
#text {margin:0 270px 0 20px; width:600px;}
#text ul {padding:0; margin:10px 0 10px 40px;}
#text li {list-style:none; padding-left:20px; background:url(../img/li.gif) no-repeat 0 7px;}
#text p {margin:10px 0;}
#sidebar {float:right; width:180px; padding:0 40px 0 10px;}
h1, h2 {font-family:"Times New Roman", Times, serif; margin:20px 0 0 0; font-size:1.8em;}

#footer {height:130px; clear:both; background:url(../img/footer_bckg.jpg) no-repeat center #53533B; font-family:"Times New Roman", Times, serif; color:#666666; font-size:10px; text-transform:uppercase; padding:0 60px;}
#left_footer {float:left; padding:30px 0 0 20px;}
#right_footer {float:right; padding:30px 20px 0 0;}