
body {
	margin-top: 20px;
	padding: 0;
	background: #2E2200;
	font-size: 11px;
	text-align: justify;
	color: #ABABAB;
}

body, th, td, input, textarea, select, option {
	font-family: "Trebuchet MS", "Times New Roman", Arial, Times, serif;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFB300;
}

h1 {
	letter-spacing: -2px;
	font-size: 3em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #CDCDCD;
}

a:hover {
	color: #CDCDCD;
}

hr {
	display: none;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img04.jpg) repeat-y left top;
}


/* Header */

#header {
	width: 800px;
	height: 61px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0;
	font-family: "Trebuchet MS", "Times New Roman", Arial, Times, serif;
}

#header h1, #header p {
	margin: 0;
}

#header h1 {
	float: left;
	color: #FFFFFF;
	font-size: 36px;
	padding-left: 15px;
}

#header p {
	float: left;
	padding: 17px 0 0 10px;
	font-size: 12px;
	font-weight: bold;
}

#header a {
	text-decoration: none;
	color: #F79F1A;
}

#banner {
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 0;
	width: 800px;
	height: 250px;
	background: url(images/img01.jpg) no-repeat left top;
}

/* Page */

#page {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 15px;
}

#page .bgtop {
	background: url(images/img03.jpg) no-repeat left top;
}

#page .bgbtm {
	background: url(images/img05.jpg) no-repeat left bottom;
}

/* Content */

#content {
	float: right;
	width: 505px;
	margin: 0;
	padding: 25px 25px 15px 20px;
}

.post {
	padding: 0px 0 0 0;
}

.title {
	border-left: 6px solid #2E2E2E;
	padding: 0 20px 0 10px;
	font-size: 24px;
}

.title a {
	text-decoration: none;
	color: #FFFFFF;
}

.pagetitle {
}

.byline {
	margin: -25px 20px 0 17px;
	color: #646464;
}

.meta {
	text-align: left;
	color: #646464;
	padding: 10px 20px 20px 17px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}

.meta .more {
	background: url(images/img08.gif) no-repeat left 50%;
	padding-left: 10px;
}

.meta .comments {
	background: url(images/img08.gif) no-repeat left 50%;
	padding-left: 10px;
}

.meta a {
	color: #FFB300;
}

.navigation {
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.posts {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.posts li {
}

.posts h3 {
	margin: 0;
	font-weight: bold;
}

.posts p {
	margin: 0;
	line-height: normal;
}

.posts a {
}

.entry {
	margin: 0;
	padding-left: 17px;
}

.last {
	border: none;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 210px;
	margin-bottom: 10px;
	padding: 40px 0 0 40px;
	color: #7A7A7A;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0 0 20px 0;
	padding: 0;
}

#sidebar li li {
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
	background: url(images/img08.gif) no-repeat left 50%;
	line-height: 25px;
}

#sidebar h2 {
	margin: 0;
	height: 35px;
	font-size: 18px;
}

#sidebar a {
}

#sidebar a:hover {
	text-decoration: none;
}

/* Search */

#search input {
	display: none;
}

#search input#s {
	display: block;
	width: 230px;
	padding: 2px 5px;
	border: 1px solid #3DD1FF;
	background: #FFFFFF url(images/img05.gif) repeat-x;
}

#search br {
	display: none;
}

/* Calendar */

#calendar {
}

#calendar h2 {
	margin-bottom: 15px;
}

#calendar table {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

#calendar caption {
	width: 100%;
	text-align: center;
}

#next {
	text-align: right;
}

#prev {
	text-align: left;
}

/* Footer */

#footer {
	width: 800px;
	height: 60px;
	min-height: 60px;
	background: url(images/img02.jpg) no-repeat left top;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ABABAB;
}

#footer p {
	padding: 20px 0;
}

#footer p a {
	color: #FFB300;
}

