body {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px ;
}
body, table {
	font-family: Arial, serif;
	font-size: 14px;
	color: #332211;
}
td {padding:3px;}
a img {border:none;}

h1 {
	color:#9A0808;
	font-size:22px;
	margin-bottom:15px;
}
h2 {
	color:#9A0808;
	font-size:18px;
	margin-bottom:10px;
}
#admin_menu {
	background: url('../img/topmenu_bgg.gif') repeat #E64A4B;
	color: #000000;
	overflow:hidden;
	zoom:1;
	/*height: 41px;*/
}
#admin_menu a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	/*float:left;*/
	display: inline-block;
	height:41px;
	line-height:41px;
	padding:0 15px;
	outline:none;
}
#admin_menu a.out {
	float:right;

}
#admin_menu a.active {
	background-color:#BF0B0B;

}
#admin_menu a:hover {
	background-color:#EF2C2C;
	text-decoration:none;
}
#admin_menu sup a {
	color: #ffffff;
	font-size: 10px;
	font-weight: normal;
	padding-top: 0px;
}
#fm {
	padding: 4px;

	width: 99%;
	height: 92%;

	border: none;
	float: right;
}
input,select,textarea {
	color: #663333;
	background-color: #ffffff;
	padding: 1px;
	border: 1px #663333 solid;
	font-family: Arial, serif;
	font-size: 12px;

}
.input1 {

}
.button1{
	border-width: 1px ;
	width: 150px;
	margin-top: 5px;
	background: url('../img/button_bgg.gif');
	cursor: pointer;
	border: 1px #663333 solid;
	color: #663333;
}

.smallinput {
	border: 1px solid #664444;
	width: 20px;
	font-size: 10px;
	height: 14px;
}

a {
	color: #886666;
	font-family: Arial, serif;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #001b1b;
}
#adminCatMenu ul {
	padding-left: 0px;
}
#adminCatMenu ul ul {
	padding-left: 15px;
	display:none;
}
#adminCatMenu li div{
	/*display:none;*/
	padding-top:3px;
}
#adminCatMenu li {
	background-position:left 6px;
	background-repeat:no-repeat;
	padding-left:18px;
}
#adminCatMenu li.type0{
	background-image:url(../img/folder_yell.png);
	/*background-position: top left;*/
}

#adminCatMenu li.flag{
	background-image:url(../img/flag_red.png);
	background-position: top left;
}

#adminCatMenu li.type0 span, #adminCatMenu li.type0_hidden span {
	cursor:pointer;
}

#adminCatMenu li.type1{
	background-image:url(../img/file_pink.png);
	/*background-position: top left;*/
}
#adminCatMenu li.type1_hidden {
	background-image:url(../img/file_pale.png);
	/*background-position: top left;*/
}

#adminCatMenu li.type0_hidden {
	background-image:url(../img/folder_pale.png);
	/*background-position: top left;*/
}

#adminCatMenu li.type1 span, #adminCatMenu li.type1_hidden span {
	cursor:pointer;
}
#adminCatMenu li.type_red{
	background-image:url(../img/page_red.png);
	background-position: top left;
}

#adminCatMenu li.type0_new{
	background-image:url(../img/folder_add.png);
	background-position: top left;
}


#adminCatMenu li.type1_new{
	background-image:url(../img/round_add_lit.png);
	background-position: left 2px;
}
#adminCatMenu li.sort_link{
	background-image:url(../img/workflow.png);
	background-position: left 2px;
}

#adminCatMenu li {
	padding-top: 3px;
	padding-bottom: 3px;
}
a.expandable {
	border-bottom:1px dashed #886666;
	text-decoration:none;
}
a.expandable:hover {
	border-bottom:1px solid #886666;
}

ul {
	list-style-type: none;
	padding-left: 10px;
	overflow:hidden;
}
li {
	padding-top: 5px;
	padding-bottom: 5px;
}
a.cat_chosen {
	font-weight: bold;
}
.grey {
	color: #666666;
}
#extras {
	display: none;
}
#users {
	border: 1px #006666 solid;
}
#users td {
	border-left: 1px #006666 solid;
	border-top: 1px #006666 solid;
	padding: 2px;
}
#mod_messages_write textarea {
	width: 250px;
	height: 300px;
}
#mod_messages_write #title {
	width: 250px;
}
#mod_messages_write #id_send {
	text-align: right;
}
#voteAdminForm textarea {
	width: 300px;
	height: 150px;
}
.success {
	color: #339933;
	font-weight: bold;
}
.fail {
	color: #ff0000;
	font-weight: bold;
}

#fck_preloaded {
	display: none;
	position: absolute;
	top: 150px;
	left: 300px;
	width: 600px;
}

.highlight_menu {
	background: #660000;
}

.highlight_menu_none {

	background: none;
}

.t_string0 {
	background: #eeeeee;

}
.t_string1 {
	background: #fafafa;

}
a img {
	border: 0px none;
}

.visible0 {
	color: #777777;
	background: #eeeeee;
}
.sqldm {
	color: #666666;
	font-size: 9px;
}

#leftmenu {
   float: left;
   width: 320px;
}
#main #content {
margin-left:320px;
}

#graf {
	float: left;
	padding-top: 10px;
   padding-right: 20px;
	/* background: yellow; */
	height: 100%;
}
#stat_table {
	/* background: red; */
	padding-top: 10px;
	height: 100%;
}
table#stat_info {
	border: solid 1px #000000;
}
table#stat_info td {
	border: dotted 1px grey;
	padding-left: 3px;
	padding-right: 3px;
}
table#stat_info thead {
	background: lightgrey;
}
table#stat_info th {
	padding: 4px;
   vertical-align: top;
}
table#stat_info tr:hover {
	background: lightgrey;
}

/* ������� ��� */
#content h2 {
   margin-top: 0px;
   padding-top: 10px;
}
table#addNewSite input, table#editSitesOffers input {
   width: 240px;
}
table#addNewSite textarea, table#editSitesOffers textarea {
   width: 387px;
   height: 160px;
}

table#sitesOffers thead {
   background: #d7eaf3;
}
table#sitesOffers tbody tr:hover {
   background: #F0F0F0;
}
table#sitesOffers td.yellow {
   background: #f3e387;
}
table#sitesOffers td.red {
   background: #fd3578;
}
table#sitesOffers td.green {
   background: #4e912f;
}
/* �������������� ������, ��������� ���� */
table#pricesSitesOffers thead {
   background: #d7eaf3;
}
table#pricesSitesOffers tbody tr:hover {
   background: #F0F0F0;
}
table#pricesSitesOffers td.yellow {
   background: #f3e387;
}
table#pricesSitesOffers td.red {
   background: #fd3578;
}
table#pricesSitesOffers td.green {
   background: #4e912f;
}
table#pricesSitesOffers td.cyan {
   background: #41d1ff;
}

fieldset.field_order, fieldset.field_order_left {
   width: 180px;
   height: 50px;
}
fieldset.field_order_left, fieldset.field_order_by_sites {
   float: left;
}

fieldset.field_dop_values, fieldset.field_order_by_sites {
   width: 180px;
}

/* ����� ���������� */
table.table_stat thead {
   background: #d7eaf3;
}

table.table_stat tbody tr:hover {
   background: #F0F0F0;
}

table.table_stat tbody td {
   text-align: right;
   padding-left: 5px;
   padding-right: 5px;
}
table.table_stat tbody td.left {
   text-align: left;
   font-weight: bold;
}

div.search_selector {
   position: absolute;
/*display: block !important;*/
   margin-top: 2px;
   margin-left: 10px;
   background: #EAEAE8;
   border: solid 1px #CECDCC;
}

div.search_selector ul{
   padding: 0px;
   margin: 0px;
}

div.search_selector li {
	list-style:none;
	cursor:pointer;
	padding:2px 5px 2px 6px;
   margin: 0px;
}

div.search_selector li:hover {
   background: #FFD1D1;
}

.has_children {
	background:url(../img/pluseg.gif) no-repeat left 5px;
	position:relative;
	left:-10px;
	padding-left:10px;
}

.valmid {
	vertical-align:middle;
}
.list_table {border-collapse:collapse; margin-bottom:10px;}

.list_table td, .list_table th {border:#B50B0B 1px solid; padding:5px;}

.list_table th {background-color:#B50B0B; color:#ffffff;}

.list_table .inactive {background-color:#E6E6E6; color:#696969;}


.help_block {
	margin:0 0 10px 15px;
}
.help_question {
	cursor:pointer;
	padding:5px 0;
	margin-bottom:5px;
}
.help_question span {
	border-bottom:1px dashed #9A0808;
	font-size:16px;
}
.help_answer {
	padding:5px 5px 5px 35px;
	background-color:#FDE3E3;
	display:none;
}
#feedback {
	padding:15px 5px 5px 35px;
	background-color:#FDE3E3;
}
#feedback textarea {
	width:700px;
	height:150px;
}
input#contact_field {
	width:250px;
}

.tools a {
	background:url("../i/mgif.gif") repeat scroll 0 0 transparent;
	display: inline-block;
	height: 20px;
	width: 20px;
	margin:0 5px;
}

.tools {min-width:100px;}
.tools a.ed {background-position: 0 0px;}
.tools a.copy {background-position: 0 -29px;}
.tools a.del {background-position: 0 -56px;}


.tabs {overflow:hide;}
.tabs li {
	float:left; margin-left:5px; background: url("../img/topmenu_bgg.gif") repeat-x scroll 0 0 #E64A4B; padding:5 10px;
	background-position: 0 -20px;
}

.tabs li a {
	color:white;
}

.tabs li.act { background-position:0; }

.MainTable {width:100%;}
.button {
    background-position: 0 -111px;
    float: left;
    height: 25px;
    margin: 0 10px 0 0;
/*    padding: 0 0 0 15px;*/
}
.button a {background:url("../i/buttons.gif") repeat scroll 0 0 transparent; color:white; padding:5px 10px;}

.MainTable th {background-color:#c62f2f; border:1px solid #DFB5B5; color:#bbb;}
.MainTable tr:hover {background-color:#eeeeff;}
.MainTable th a {color:white;}
.MainTable td a {color:#886666;}
.MainTable a.up, .MainTable a.down {width:15px; height:15px; display:inline-block; background-repeat:no-repeat;}
.MainTable a.up {background-image: url(../img/arrow.png); background-position: -15px 0;}
.MainTable a.down {background-image: url(../img/arrow.png);}

#authorization {
    background: url("../i/auth_bg.png") repeat scroll 0 0 transparent;
    height: 538px;
    left: 50%;
    margin: -269px 0 0 -319px;
    position: absolute;
    top: 50%;
    width: 638px;
}

#authorization input[type=text], #authorization input[type=password] {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #BBBABB #DBDBDD #DBDBDD;
    border-right: 1px solid #DBDBDD;
    border-style: solid;
    border-width: 1px;
    font-size: 24px;
    height: 45px;
    line-height: 42px;
    margin: 0 0 37px;
    text-align: center;
    width: 476px;
}

.button {
	display: block;
/*	float: none;*/
	text-align: center;
}
.button input {
	border-color: #BBBABB #DBDBDD #DBDBDD;
    border-right: 1px solid #DBDBDD;
    border-style: solid;
    border-width: 1px;
	font-size: 24px;
	height: 45px;
	padding: 0 14px;
	background: #fff;
	cursor: pointer;
}

#authorization form {
    margin: 245px auto 0;
    width: 476px;
}
