body {
	font: 12px arial,verdana,sans-serif;
	padding:0px;
	margin:0px;
	background:#EFF4D6 url("images/bg.gif") repeat-y left;
}

#wrap {
	 clear: both;     
	width: 1004px;
	padding:0;	
	margin:0px;
	
}
#content-container {
	float: left;
	width: 1004px;
	padding:0px;	
	margin-top:0px;
	margin:0px;
}
#content {
margin:0 0 0 10px;
}

#header {
	height:264px;
	width: 1004px;
	padding:0px;
	margin:0px auto;
	background:url(images/header.jpg) no-repeat top left;
	float:none;
}
#header h1 
{
font:30px "Comic Sans MS", verdana, arial;
color:#E9D79E;
font-weight:bold;
text-align:right;
left:650px;
top:20px;
position:absolute;
width:320px;
overflow:hidden;
}
#header h1, h1 a, h1 a:visited {
text-decoration: none;
margin:0;
color:#6F9200;
}
#header h1 a:hover {
text-decoration: none;
color:#D1B746;
}
#subtitle {

	color: #C45A00;
	font:bold 14px arial;
	left:655px;
	top:55px;
	position:absolute;
	width:300px;
text-align:right;

}


#navlist-container{
	padding:0px 0px 0 10px;
	position:absolute;
	top:223px;
	left:0;
	height:30px;
	float:left;	
	}
#navlist{
	position:relative;
	display:block;
	height:34px;
	font-size:12px;
	font-weight:normal;
	font-weight:bold;
	padding:0;
	font-family:Verdana,arial;
	}
#navlist ul{
	margin:0px;
	padding:0px 0px 0 20px;
	list-style-type:none;
	width:auto;
	float:left;
	}
#navlist ul li{
	display:block;
	float:left;
	margin:0 ;
	width:120px;
	}
#navlist ul li a{
	display:block;
	float:left;
	color:#183C18;
	padding:7px 0px 0 0px;
	width: 120px; 
	height: 34px;
	background:url(images/menu.gif) no-repeat right top;
	text-align: center;
	text-decoration:none;
	}
#navlist ul li a:hover,#navlist ul li.current_page_item a{
	color:#AF2500;
	background:url(images/menu.gif) no-repeat top left;
	width: 120px; height: 34px;
	text-align: center;
	}
#navlist ul li .current_page_item a,#navlist ul li .current_page_item a:hover{
	color:#AF2500;
	width: 120px; height: 34px;
	background:url(images/menu.gif) no-repeat top left;
	}
	
#footer {	
	color:#af7b37;
	font: 12px arial,verdana,sans-serif;
	text-align:center;
	height:62px;
	float:left;
	position:relative;
	width:1004px;
	margin:0px;
	background:url(images/footer.gif) no-repeat bottom center;
}
.footerlinks 
{
	color:#BAC77F;
	text-align:center;
	margin-top:25px;
	float:left;
	width:1004px;

}
.footerlinks  a
{
	color:#96A35B;
	text-decoration:underline;

}

/* General Header Styles */
h2 {
	margin-top:0;
	font-size:16px;	
}
h3 {
	margin:0;
	font-size:14px;	
}


/* Post Related */
h2 a:hover, h2 a:visited, h2 a {
	text-decoration:none;
}
.post-container
{
	float:left; 
	width:675px; 	
	margin-top:10px;
	margin-left:15px;
}
.post {
	width:675px;
	padding-top:0;
	color:#908967;
	float:none;
	display:block;
	margin-bottom:30px;	
	clear:both;	
#	background:url(images/post-bg.gif) repeat-y left ;
}
.posttop {
	width:675px;
	height:71px;
	color:#EEE0B2;
	padding-top:5px;
	background:url(images/post-top.gif) no-repeat left top;	
}

.post p {
	margin:0px;
}


.post a:hover {
	color:#B41100;
}

.posttop h2 {
	font: 20px arial,verdana;
	text-align:left;
	overflow:visible;
	margin-bottom:0;
	padding:0;
	padding-left:20px;
	padding-top:20px;
	color:#838E4A;
	float:left;
	
}
.posttop h2 a {
	color:#5A7111;
	font-weight:normal;	
}

.postinfo
{
height:25px;
clear:both;
width:500px;
float:left;
color:#B41100;
text-align:left;
margin-top:1px;
font:bold 11px verdana;
padding-left:20px;


}
.postinfo a
{
text-decoration:none;
color:#F3D46F;
text-align:left;
}
.postinfo a:hover
{
text-decoration:underline;
color:#F3D46F;
}
.postbottom
{
	font-size:10px;
	color:#168CB0;
	text-align:left;
	width:675px;
	padding:0;	
	height:57px;
	float:none;
	display:block;
	position:relative;
	background:url(images/post-bottom.gif) no-repeat bottom;
}
.postbottom a
{
text-decoration:none;
color:#708808;	
}
.postbottom a:hover
{
text-decoration:underline;
}
.commentinf
{
	float:right;
	margin-top:0px;
	text-align:right;
	height:20px;
	padding-top:8px;
	padding-right:20px;
}
.metainf{
	float:left;
	padding-left:10px;
	margin-top:0px;
	text-align:center;
	height:20px;	
	padding-top:8px;
}
.post p {
	margin:0px;
}
.navigation a {
	color:#5A7601;
	text-decoration:none;
}
.navigation a:hover 
{
	color:#009999;
}

.navigation {
	text-align:left;
	width:620px;
	float:left;
	font-size:12px;
}
img.centered {
	display: block;
}
img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}
img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}
.alignright {
	float: right;
}
.alignleft {
	float: left
}
.navigation .alignright {
	margin-bottom:10px;
}
.navigation .alignleft {
	margin-bottom:10px;
}	

.pagetitle{
	font: bold 28px arial,verdana,sans-serif;
	margin-top:0;	
	margin-bottom:5px;
	text-align:left;
	color:#838E4A;
	margin-right:15px;
	overflow:visible
}
blockquote {
	font-style:italic;
	margin:5px;
}
a img {
	border:0;
}
.entry {
	font: 12px arial,verdana,sans-serif;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:10px;
	margin-top:0px;
	text-align:justify;
	clear:both;
	
}
.entrytext .postmetadata {
	font: 12px arial,verdana,sans-serif;
}
.more-link {
	font: 10px arial,verdana,sans-serif;
}

/* Sidebar Related */
#sidebar {
	width:235px;
	padding-left:0px;
	margin-top:-70px;
	margin-left:29px;
	float:left;	
}

#sidebar ul {
	margin: 0 ;
	padding: 0;	
	width:235px;
	
	
}
#sidebar ul h2{
	font:14px arial;
	color:#2A4E00;
	text-align:left;
	font-weight:bold;
	padding:10px 0 0 25px;
	height:41px;
	margin:0;
	border:none;
	font-variant:small-caps;
	background:url(images/topbar.gif) no-repeat top left;
}

#sidebar ul li {
	list-style-type: none;
	list-style-image: none;
	margin:0;
	padding:0;	
}
#sidebar ul li ul {
	margin: 0 0 10px 0px;
	padding:0;
}
#sidebar ul ul li {
	list-style-type: none;
	margin-left:0px;
	list-style-image: none;
	color:#8A832C;
	padding:0px 0 5px 20px;
	margin-left:10px;
	font:12px arial;
	width:200px;
#	background:url(images/arrow.gif) no-repeat left;
	
}
#sidebar ul ul ul li {
	list-style-type: disc;
	padding:0;
	margin-left:5px;
	color:#8A832C;	
}
#sidebar p {
	margin:0;
	font: 10px arial,verdana,sans-serif;
}
#sidebar a {
	color:#5A7601;
	text-decoration:none;	
}
#sidebar a:hover {
	text-decoration:underline;	
	color:#168CB0;
}



/* User Comment Specific */
#comment
{
#border:1px solid #D6CDB0;
color:#909A5E;
#background:#E2EAB8;
height:205px;
}
#respond
{
	padding-left:10px;
}
#commentform
{
	padding:10px;

}
#commentform input
{
color:#909A5E;
background-color:#E2EAB8;
border:1px solid #D6CDB0;
}

ol.commentlist {
	margin-left:25px;
	padding:0;
}

ol.commentlist a {
	color:#D6B857;	
}
ol.commentlist p {
	margin-top:3px;
	margin-bottom:10px;
}
small.commentmetadata {
	font: 10px arial,verdana,sans-serif;
}
small.commentmetadata a {
	text-decoration:none;
}
#submit {
	height: 25px;
	background-color: #D6E5BD;
	margin: 10px 10px 0 0;
	color:#ffffff;
	font-size: 1.2em;

}

/************************/
/*     Search Design    */
/************************/
#searchform{
display:none;
}
#s
{
	width:200px;
	font:12px tahoma;
	color:#D5C67E;
}
#menu_search_box{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#D5C67E;
	font-size:11px;
	padding:7px;
	padding-top:2px;
	font-variant:small-caps;
#	background:url(images/search.gif) no-repeat center top;
}

#menu_search_box input.s{
	width:200px;
	font-size:11px;
	color:#6F9200;
	border:0px;
	padding:5px;	
	height:25px;
	background:none;
}

#menu_search_box span{
	position:relative;
	top:-1px;
	font-weight:bold;
}
/*-------------Other------------------*/
#date
{
float:right;
height:25px;
width:15px;
padding-top:0;
margin-right:10px;
margin-top:5px;
}
.month
{
	text-align:center;
	font-size:12px;
	margin:0;		
	color:#D66B2B;
	padding-top:8px;
	height:16px;
}
hr {
	display: none;
}
a 
{
	color:#D66B2B;
}
#wp-calendar
{
width:210px;
color:#D7C984;	
margin-left:10px;
text-align:center;
}
#calendar
{

}
td
{
color:#aaaaaa;
}
#rss{
position:absolute;
top:120px;
left:740px;
}