.dhonishow {
  overflow: hidden;
  font: 10px/1.2em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  position: relative;
  border-bottom: 1px solid #fff;  
  border-top: 1px solid #fff;
  color: #00062d;
}

.dhonishow * {
  list-style: none;
  border:  none;
  padding: 0;
  margin: 0;
}

.dhonishow .dhonishow-elements {
  display: block;
  overflow: hidden;
  text-align: left;
  position: relative;
}

.dhonishow .element {
  position: absolute;  
  overflow: visible;
  line-height: 1px;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.dhonishow .element * {
  line-height: 1px;
}


.dhonishow .dhonishow-alt {
  line-height: 16px;
  text-align: left;
  padding: 4px 0;  
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
  background: url("dhonishow-navi_background.png");
}

* html .dhonishow .dhonishow-alt,
* html .align-pagingbuttons_inside-top-right .dhonishow-paging-buttons,
* html .align-pagingbuttons_bottom-right .dhonishow-paging-buttons,
* html .align-pagingbuttons_inside-top .dhonishow-paging-buttons,
* html .align-pagingbuttons_bottom .dhonishow-paging-buttons,
* html .align-alt_inside-top .dhonishow-paging-buttons,
* html .align-alt_inside-top-right .dhonishow-paging-buttons,
* html .hide-alt_true .dhonishow-paging-buttons {
  background: #fff;
}


.dhonishow .dhonishow_module_alt {
  padding: 0 10em 0 7px;
  display: block;
}

.dhonishow .dhonishow-paging-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  padding: 4px 5px 5px;
  width: 10em;
  z-index: 100;
}

.dhonishow .dhonishow-paging-button .dhonishow-theme-helper {}

.dhonishow .dhonishow-next-button,
.dhonishow .dhonishow-previous-button {
  text-indent: -10000em;
  -moz-outline: none;
  cursor:  pointer;
  float: right;
  width: 15px;
  height: 15px;
  margin: 0;
}
                   
.dhonishow .dhonishow-next-button {
  background: url("dhonishow-next-button.png") 50% 50% no-repeat;
  margin-left: 5px;
}

* html .dhonishow .dhonishow-next-button {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/src/dhonishow-next-button.png', sizingMethod='image');
}

.dhonishow .dhonishow-previous-button {
  background: url("dhonishow-previous-button.png") 50% 50% no-repeat;
}

* html .dhonishow .dhonishow-previous-button {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/src/dhonishow-previous-button.png', sizingMethod='image');
}

.dhonishow .dhonishow-next-button:hover {
  background-image: url("dhonishow-next-button_hover.png");
}

.dhonishow .dhonishow-previous-button:hover {
  background-image: url("dhonishow-previous-button_hover.png");
}

.dhonishow .dhonishow-paging {
  margin-left: 5px;
  float: right;
  margin-top: 2px;
}

.dhonishow .error {
  background: #ea2032;
  text-align: center;
  line-height: 18px;
  padding: 1em;
  font-size: 10px;
  color: #fff;
}

/* Hide */

.hide-alt_true .dhonishow-alt,
.hide-buttons_true .dhonishow-paging-buttons,
.hide-paging_true .dhonishow-paging,
.hide-navigation_true .dhonishow-alt,
.hide-navigation_true .dhonishow-paging-buttons {
  display: none;
}

/* Align */

/* DhoniShow alt Right ++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.align-alt_inside-top-right .dhonishow_module_alt,
.align-alt_inside-bottom-right .dhonishow_module_alt,
.align-alt_bottom-right .dhonishow_module_alt {
  padding: 0 7px 0 10em;
}

.align-alt_inside-top-right .dhonishow-alt,
.align-alt_inside-bottom-right .dhonishow-alt,
.align-alt_bottom-right .dhonishow-alt {
  right: auto;
  left: 0;
  padding-right: 0;
  padding-left: 5px;
}

/* DhoniShow alt Right ------------------------------------------------------*/



/* DhoniShow Paging and Buttons Left ++++++++++++++++++++++++++++++++++++++++*/

.align-pagingbuttons_inside-top .dhonishow-paging-buttons,
.align-pagingbuttons_inside-bottom .dhonishow-paging-buttons,
.align-pagingbuttons_bottom .dhonishow-paging-buttons {
  right: auto;
  left: 0;
  width: 8em;
}

/* DhoniShow Paging and Buttons left ++++++++++++++++++++++++++++++++++++++++*/



/* DhoniShow Alt, Paging and Butons top +++++++++++++++++++++++++++++++++++++*/

.align-alt_inside-top .dhonishow-alt,
.align-alt_inside-top-right .dhonishow-alt,
.align-pagingbuttons_inside-top .dhonishow-paging-buttons,
.align-pagingbuttons_inside-top-right .dhonishow-paging-buttons {
  bottom: auto;
  top: 0;
}

/* DhoniShow Alt, Paging and Butons top -------------------------------------*/

/* ALIGN_INSIDE-BOTTOM IS SET */

/* DhoniShow Alt bottom +++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.align-alt_bottom .dhonishow-alt,
.align-alt_bottom-right .dhonishow-alt {
  position: relative;
}

/* DhoniShow Alt bottom -----------------------------------------------------*/

.align-pagingbuttons_inside-top-right .dhonishow-paging-buttons,
.align-pagingbuttons_bottom-right .dhonishow-paging-buttons,
.align-pagingbuttons_inside-top .dhonishow-paging-buttons,
.align-pagingbuttons_bottom .dhonishow-paging-buttons,
.align-alt_inside-top .dhonishow-paging-buttons,
.align-alt_inside-top-right .dhonishow-paging-buttons,
.hide-alt_true .dhonishow-paging-buttons {
 background: url("dhonishow-navi_background.png"); 
 width: 100%;
}

.align-pagingbuttons_inside-top .dhonishow-paging-buttons .dhonishow-theme-helper,
.align-pagingbuttons_bottom .dhonishow-paging-buttons .dhonishow-theme-helper {
  overflow: hidden;
  width: 8em;
}

.align-alt_inside-top .align-pagingbuttons_inside-top-right .dhonishow-paging-buttons,
.align-alt_inside-top-right .align-pagingbuttons_inside-top .dhonishow-paging-buttons,
.align-alt_inside-bottom .align-pagingbuttons_bottom-right .dhonishow-paging-buttons,
.align-alt_inside-bottom-right .align-pagingbuttons_bottom .dhonishow-paging-buttons,
.align-alt_bottom-right .align-pagingbuttons_bottom .dhonishow-paging-buttons,
.align-alt_bottom .align-pagingbuttons_bottom-right .dhonishow-paging-buttons {
  background: none;
  width: 8em;
}

/*Buttons in the middle +++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.align-alt_inside-top-right .align-pagingbuttons_inside-middle .dhonishow-paging-buttons,
.align-alt_inside-top .align-pagingbuttons_inside-middle .dhonishow-paging-buttons,
.align-alt_inside-bottom .align-pagingbuttons_inside-middle .dhonishow-paging-buttons,
.align-alt_inside-bottom-right .align-pagingbuttons_inside-middle .dhonishow-paging-buttons,
.align-alt_bottom .align-pagingbuttons_inside-middle .dhonishow-paging-buttons,
.align-alt_bottom-right .align-pagingbuttons_inside-middle .dhonishow-paging-buttons {
  background: none;
}

.align-pagingbuttons_inside-middle .dhonishow-paging-buttons {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.align-pagingbuttons_inside-middle .dhonishow-paging {
  display: none;
}

.align-pagingbuttons_inside-middle .dhonishow-next-button,
.align-pagingbuttons_inside-middle .dhonishow-previous-button {
  float: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: url("dhonishow-next-button_big.png") 80% 50% no-repeat;
}

.align-pagingbuttons_inside-middle .dhonishow-previous-button {
  right: auto;
  left: 0; 
  background: url("dhonishow-previous-button_big.png") 20% 50% no-repeat;
}

.align-pagingbuttons_inside-middle .dhonishow-next-button:hover {
  background-image: url("dhonishow-next-button_big_hover.png");
}

.align-pagingbuttons_inside-middle .dhonishow-previous-button:hover {
  background-image: url("dhonishow-previous-button_big_hover.png");
}

.align-pagingbuttons_inside-top .dhonishow_module_alt,
.align-pagingbuttons_inside-top-right .dhonishow_module_alt,
.align-pagingbuttons_inside-middle .dhonishow_module_alt,
.align-pagingbuttons_bottom .dhonishow_module_alt,
.align-pagingbuttons_bottom-right .dhonishow_module_alt,
.align-alt_inside-top .dhonishow_module_alt,
.align-alt_inside-top-right .dhonishow_module_alt,
.align-alt_inside-bottom .dhonishow_module_alt,
.align-alt_inside-bottom-right .dhonishow_module_alt,
.align-alt_bottom .dhonishow_module_alt,
.align-alt_bottom-right .dhonishow_module_alt,
.hide-buttons_true .dhonishow_module_alt {
 padding-right: 7px; 
}

.align-alt_inside-top-right .align-pagingbuttons_inside-top .dhonishow_module_alt,
.align-alt_inside-top .align-pagingbuttons_inside-top-right .dhonishow_module_alt,
.align-alt_inside-bottom-right .align-pagingbuttons_bottom .dhonishow_module_alt,
.align-alt_inside-bottom .align-pagingbuttons_bottom-right .dhonishow_module_alt {
 padding-right: 10em;
}

.align-pagingbuttons_inside-middle .dhonishow-alt {
  z-index: 1000;
}

/* Effects  */

.dhonishow-effect-helper {
  position: relative;
  overflow: hidden;
}

.effect_slide .dhonishow-elements {
  position: absolute;
  width: 100%;
}

/* Thumbnails */

.dhonishow .dhonishow-thumbnails {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 3px;
  margin-bottom: -1px;
  overflow: hidden;
  width: 100%;
}

.dhonishow .dhonishow-thumbnails li {
  float: left;
  overflow: hidden;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 55px;
  height: 55px;
  position: relative;
}

.dhonishow .dhonishow-thumbnails li * {
  position: absolute;
}

.dhonishow .dhonishow-thumbnails .active {
  display: block;
  border: 1px solid #fff;
  position: relative;
  width: 53px;
  height: 53px;
}