/* Spring - An open source xhtml/css website template by Fernbap - http://fernbap.com.
Free to use in any way and for any purpose as long as the proper credits are given to the original designer.

Version: 1.0, May 12, 2008 */

/* standard elements */
html {
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
}

a {
	color: #CDC9A5;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #FFFACD;
	text-decoration: none;
}

p {
	margin-bottom: 6px;
}

blockquote {
	text-align: justify;
	font-style: italic;
	padding: 6px 20px 6px 30px;
	background: url(../img/quote.jpg) left top no-repeat;
}

.left {
	float: left;
	margin: 2px 8px 0px 0px;
	border: 1px solid #A8CE32;
}

.right {
	float: right; 
	margin: 2px 0px 0px 8px;
	border: 1px solid #A8CE32;
}

.center {
	display: block;
	text-align: center;
	margin: 2px auto 2px;
	border: 1px solid #A8CE32;
}

body {
	font: 14px Verdana,Tahoma,Arial,sans-serif;
	color: #c0a000;
	background: #ffe1a0;
}

#header {
/*	height: 200px; */
	background: url(../img/header1.jpg) top center no-repeat;
	padding: 33px 30px 20px 40px;
}

#wrapper {
	width: 816px;
	margin: 0 auto;
	background: url(../img/innerbackground.png) center repeat-y;
	padding: 0;
}

#toplinks {
	float: right;
	font-weight: 400;
	font-size: .8em;
	letter-spacing: .1em;
	text-transform: uppercase;
	margin-right: 4px;
}

#toplinks a {
	color: #d37103;
	text-decoration: none;
	font-weight: 600;
}

#title {
	height: 66px;
	margin: 81px 80px 0 270px;
}

#title h1, #title h1 a {
	color: #D0FFD0;
/*	color: #E6FFE6; */
	text-decoration: none;
	letter-spacing: .16em;
	font-size: 1.7em;
}

#title h2 {
	color: #FFFFc0;
/*	color: #dDd9A5; */
}

#menu {
	background: #006300;
	height: 46px;
	margin-left: 7px;
	margin-right: 7px;
}

#menu ul {
	padding-top: 22px;
	padding-left: 10px;
	height: 50px;
}

#menu li {
	list-style: none;
	display: inline;
	padding-top: 8px;
}

#menu li a {
	padding-top: 10px;
	line-height: 30px;
	height: 40px;
	text-decoration: none;
	background: transparent url(../img/menul.png) left bottom no-repeat;
	padding-left: 14px;
}

#menu li a:hover, #menu li a.selected {
	color: #606319;
	background: transparent url(../img/menul1.png) left bottom no-repeat;
}

#menu li a span {
	padding-top: 10px;
	color: #FFFFc0;
	font-size: 1.1em;
	height: 40px;
	padding-right: 14px;
	background: transparent url(../img/menur.png) right bottom no-repeat;
}

#menu li a:hover span, #menu li a.selected span {
	color: #606319;
	background: transparent url(../img/menur1.png) right bottom no-repeat;
}

#content {
	display: block;
	padding: 20px 20px 30px 24px;
	color: #606319;
}

#content h2, #content h3 {
	color: #d37103;
	margin-bottom: 8px;
}

#main {
	width: 520px;
	float: left;
}

#main fieldset {
	border: 2px solid #A8CE32;
	background: #f0f0f0;
	margin: 16px auto 16px;
	padding: 14px;
	width: 370px;
}

#main textarea, #main input {
	overflow: auto;
	width: 200px;
	margin: 2px;
}

div.row {
	width: 360px;
}

div.row span.formlabel {
	float: left;
	width: 150px;
	text-align: left;
}

div.row span.forminput {
	width: 180px;
/*	float: right; */
	text-align: right;
}

.submit {
	font-family: verdana, arial, sans-serif;
	font-size: 100%; 
	border: 1px solid;
	width: 70px;
	height: 22px;
	cursor: pointer;
}

#right {
	padding: 0px 0 50px;
	width: 242px;
	float: right;
	background: #b0d080  url(../img/title3.png) bottom left no-repeat;
}

#right h2 {
	color: #d0FFc0;
	text-align: center;
	padding: 12px 0 8px 0px;
	background:url(../img/title1.png) no-repeat;
}

#right h2.topright {
	background:url(../img/title2.png) no-repeat;
}

#right h3 {
	margin-top: 6px;
}

#right ul {
	border-top: 1px solid;
	margin: 4px 0 6px;
}

#right li {
	list-style: none;
	display: block;
	padding: 4px 0 2px;
	border-bottom: 1px solid;
}

#right a {
	color: #d37103;
}

#right li a:hover {
	color: #FFFF40;
}

.rightitem {
	padding: 0 6px 0 10px;
	margin-bottom: 8px;
}

#footer {
	height: 118px;
	background: url(../img/springbottom.png) bottom center no-repeat;
	padding-left: 50px;
}

#footer p {
	color: #d0FFc0;
	padding-top: 46px;
	text-align: center;
}

#clear {
	clear: both;
	height: 130px;
	background: url(../img/innerbottom.jpg) bottom center no-repeat;
}
