
/* common */
html { -webkit-text-size-adjust: auto; -ms-text-size-adjust: auto; }
html, body, img, form {margin: 0px; padding: 0px; border: none;}
html, body {height:100%;}
body {background: #0e202a url(../img/topimg.jpg) no-repeat center top;}
body, td {font: 13px Tahoma, sans-serif; color: #353631;}
a {color: #487d9a;	text-decoration: underline;}
td {vertical-align: top;}
p {padding: 0px; margin: 0px 0px 12px 0px;}
object {outline:none;}
fieldset {border:0;}

h1 {font-size:20px; padding: 0px; margin: 0px 0px 16px 0px;}
h2 {font-size:20px; font-weight: normal; padding: 0px; margin: 0px 0px 10px 0px;}
h3 {font-size:13px; padding: 0px; margin: 0px 0px 10px 0px;}

.clear {clear:both;}
.none {line-height:0;}
.relative {width:100%; position:relative;}
.img-marg {float:left; margin:0 10px 5px 0;}
.float-l {float:left;}
.float-r {float:right;}
.highlight {font-weight: bold;}
.hfeed .posts {margin-bottom:10px;}

.main-cont {width:964px; margin:0 auto; min-height:100%;}

/* header */
.header {height:204px;}
.Header_a {float: left; width:180px; margin: 27px 0px 0px 5px;}
.Header_b {float: left; width:570px;}
.Header_c {float: left; text-align: right; margin: 22px 1px 0px 0px;}
.HeaderMenu ul,.HeaderMenu ul li {margin: 0px; padding: 0px; list-style: none;}
.HeaderMenu ul {margin-top: 8px;}
.HeaderMenu ul li {margin-bottom: 5px;}
.HeaderMenu ul li a {color: #fff;}
.HeaderPhone {font-size: 27px; font-weight: bold; color: #fff;}
.HeaderPhone span {font-size: 21px; font-weight: normal;}
.worktime {color: #fff; display: block; margin: 6px 0px 0px 0px;}
.ShopCart {float: right; text-align: left; background: url(../img/shopcart.png) no-repeat left top; padding-left: 53px; padding-top: 5px; margin: 9px 0px 0px 0px; color: #fff; min-height: 44px;}
.ShopCart a {font-weight: bold; color: #fff;}

.MainMenu {width:964px; height:47px; background: url(../img/mainmenu.png) no-repeat left top;}
.MainMenu ul,.MainMenu ul li {margin: 0px; padding: 0px; list-style: none;}
.MainMenu ul {margin: 0px 0px 0px 2px;}
.MainMenu ul li {float: left; display: block; position: relative; }
.MainMenu ul li a {text-decoration: none; text-shadow: 1px 0px 0px #ececec; display: block; height: 34px; background: url(../img/topli.png) no-repeat right top; padding: 13px 25px 0px 24px;  font-weight: bold; font-size: 15px; color: #515151;}
.MainMenu ul li.last a {background: transparent; padding-right: 27px;}
.MainMenu ul li:hover {background: url(../img/lihover.png) repeat-x left top;}

.MainMenu ul ul {display: none; padding: 0px 0px 20px 0px;  position: absolute; left:-1px; top:47px; width:180px; background: #ebd54d;}
.MainMenu ul ul li {float: none; height: auto; font-weight: normal !important; background: transparent !important;}
.MainMenu ul ul li:hover {background: transparent !important;}
.MainMenu ul ul a {font-size: 14px; color: #515151; height:auto; background: transparent; text-decoration: underline; font-weight: normal !important;}

/* center col */
.center-col {width:964px; float:left; overflow:hidden;}
.center-col .padding {padding:0px 0px 20px 0px;}
.BreadCrumbs {margin-bottom: 12px;}
.BreadCrumbs a,.BreadCrumbs {font-size: 11px; color: #487d9a;}
.BreadCrumbs span {font-weight: bold;}

.Content_a {width: 963px; height:auto; background: url(../img/mm_c.gif) repeat-y left top;}
.Content_b {width: 963px; height:auto; background: url(../img/mm_t.gif) no-repeat left top;}
.Content_c {width: 963px; height:auto; background: url(../img/mm_b.gif) no-repeat left bottom;}
.ContentPadding {padding: 24px 20px 80px 20px; }
.LeftColl {float: left; width:630px; padding-left: 3px;}
.RightColl {float: right; width:270px;}

.Logos {margin: 0px 0px 20px 0px; }
.LogosItem {width: 120px; height:120px; float: left; margin: 0px 5px 8px 0px; }
.LogosItem img {border: 1px solid #353631;}

.AdBlock {margin: 0px 0px 14px 0px; }
.SideBlock {width:269px; margin: 0px 0px 20px 0px;  min-height:100px; background: url(../img/sideblock_c.gif) repeat-y left top;}
.SideBlock_a {width:269px; min-height:100px; background: url(../img/sideblock_t.gif) no-repeat left top;}
.SideBlock_b {width:269px; min-height:100px; background: url(../img/sideblock_b.gif) no-repeat left bottom;}
.SideBlockPadding {padding: 14px 18px 14px 14px; }
.SpetialBlock {min-height: 60px; padding: 8px 4px 9px 5px; margin: 0px 0px 5px 0px;  text-align: center; background: #eee;}
.SpetialImage {margin: 11px 0px 10px 0px; }
.SpetialPrice {font-size: 15px; font-weight: bold;}
.SpetialPrice span {color: #487d9a;}
.SpetialBuy {display: block; width:115px; margin: 0 auto; margin-top: 11px; height:31px; padding: 8px 0px 0px 0px; font-size: 13px; color: #515151; text-shadow: 1px 0px 0px #ececec; text-decoration: none; font-weight: bold; background: url(../img/buybutt.png) no-repeat left top;}
.SpetialBuy:hover {background-position: left -39px; color: #515151; }
.OrderCall {width:32px; height:147px; position: fixed; top:200px; right:0px; background: url(../img/ordercall.png) no-repeat left top;}

.CatalogItem {width: 130px; height:190px; float: left; text-align: center; padding: 8px 10px 10px 10px; margin: 0px 5px 20px 0px;  background: #eeeeee; border: 1px solid #e8e8e8;}
.CatalogItemTitle {font-weight: bold;}
.CatalogItemImage {margin: 14px 0px 13px 0px;}
.CatalogItemPrice {font-size: 15px; font-weight: bold;}
.CatalogItemPrice span {color: #487d9a;}
.CatalogItemBuy {display: block; width:115px; margin: 0 auto; margin-top: 15px; height:31px; padding: 8px 0px 0px 0px; font-size: 13px; color: #515151; text-shadow: 1px 0px 0px #ececec; text-decoration: none; font-weight: bold; background: url(../img/buybutt.png) no-repeat left top;}
.CatalogItemBuy:hover {background-position: left -39px; color: #515151; }
.CatalogSeparator {width:100%; width:624px; margin: 0px 0px 20px 0px; height:1px; border-bottom: 1px solid #cccccc;}

.Pagination {margin: 10px 0px 0px 0px; }
.Pagination ul {list-style:none; margin:0; padding:0; text-align:center;}
.Pagination ul li {display:inline;}
.Pagination ul a {display:inline-block; padding:6px;}

.ProductPageHeader {border-bottom: 1px dashed #d7d7d7; padding-bottom: 25px; margin-bottom: 20px;}
.ProductPageImage {float: left;}
.ProductPageAddtocart {float: right; text-align: right;}
.ProductPagePrice {font-weight: bold; color: #515151; font-size: 29px; text-shadow: 1px 0px 0px #ececec;}
.AddToCart {display: block; width:204px; margin: 0 auto; margin-top: 15px; height:40px; padding: 11px 0px 0px 0px; font-size: 18px; text-align: center; color: #515151; text-shadow: 1px 0px 0px #ececec; text-decoration: none; background: url(../img/addtocart.png) no-repeat left top;}
.AddToCart:hover {background-position: left -51px; color: #515151; }

/* footer */
.footer {width:964px; margin:0 auto; position:relative;}
.footer-b {width:100%; height:30px; position: absolute; top:-69px; left:0;}
.FooterMenu {float: left; margin-left: 8px;}
.FooterMenu ul {margin: 0px; padding: 0px; list-style: none;}
.FooterMenu ul li {float: left; margin-left: 13px;}
.FooterMenu ul li a {font-weight: bold; text-shadow: 1px 0px 0px #e0e0e0; text-decoration: none; color: #515151;}
.FooterCopyrights {float: right; margin-right: 29px;}
.FooterCopyrights span,.FooterCopyrights a {float: left; display: block;}
.FooterCopyrights a {margin: 2px 0px 0px 10px;}
 
