/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document - print style sheet */


body {
font-family: "Times New Roman", Times, serif;
line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
font-family: Verdana, Arial, Helvetica, sans-serif;
color: #595959;
}

h1 {
font-size: 16pt;
}

h2 {
font-size: 14pt;
}

h3, h4, h5, h6 {
font-size: 11pt;
}

h3 {
margin-top: 30px;
}

a:link, a:visited {
text-decoration: underline;
font-weight: bolder;
}

a img {
border: 1px solid #595959;
}

.hidden {
position: absolute;
top: -10000px;
left: 0;
width: 1px;
height: 1px;
overflow: hidden;
}

.column-left {
margin-bottom: 30px;
}

.column-right {
margin-bottom: 10px;
}

.box1 p, .box2 p {
margin: 0;
}

.box2 {
margin-top: 22px;
}

#menu, #footer ul {
display: none;
}