/*  This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */



/* CSS Document for IE 6 and lower */


#menu {
position: absolute;
top: 19px;
right: 8px;
z-index: 3;
}

.column-right ul {
margin: 28px 10px 0 20px;
list-style-type: none;
}

.column-right ul li a {
margin-top: -14px;
}

div.address {
margin: 28px 10px 0 20px;
}

